{% load static %}
<html>
  <head>
    <title>Mini Facebook</title>
    <link rel="stylesheet" href="{% static 'mini_fb_styles.css' %}" />
  </head>

  <body>
    <header>
      <h1>Mini Facebook</h1>
      <nav>
        <ul>
          <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>

          {% if user.is_authenticated %} {% if user.profile %}
          <li>
            <a href="{% url 'show_profile_page' pk=user.profile.pk %}"
              >My Profile</a
            >
          </li>
          {% else %}
          <li><a href="{% url 'create_profile' %}">Create Profile</a></li>
          {% endif %}
          <li>
            <form
              method="post"
              action="{% url 'logout' %}"
              style="display: inline"
            >
              {% csrf_token %}
              <button
                type="submit"
                style="
                  background: none;
                  border: none;
                  color: blue;
                  text-decoration: underline;
                  cursor: pointer;
                "
              >
                Logout
              </button>
            </form>
          </li>
          {% else %}

          <li><a href="{% url 'create_profile' %}">Create Profile</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
        <hr />
        {% if user.is_authenticated %}
        <p>Logged in as: {{ user.username }}</p>
        {% else %}
        <p>Not logged in.</p>
        {% endif %}
      </nav>
    </header>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <p>&copy; Mini FB</p>
      <p>Page created by bella918@bu.edu</p>
    </footer>
  </body>
</html>
