<!-- File: delete_status_form.html
     Author: Bella WANG (bella918@bu.edu), 6/4/2025
     Description: Confirm delete page for a status message -->

{% extends 'mini_fb/base.html' %} {% block content %}

<h2>Delete a Status</h2>

<form method="post">
  {% csrf_token %} {{ form.as_table }}
  <p>Are you sure you want to delete this status?</p>
  <input type="submit" value="Confirm Delete" />
</form>

<!-- Cancel link -->
<a href="{% url 'show_profile' status_message.profile.pk %}">Cancel</a>

{% endblock %}
