<!-- File: show_profile.html
 Author: Bella WANG (bella918@bu.edu), 5/27/2025
 Description: web show_profile html file for mini_fb assignment. generate information about one person in the profile *-->

{% extends 'mini_fb/base.html' %} {% block content %}
<h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
<img class="centered-img" src="{{ profile.image_url }}" width="600" />

<div class="profile-info">
  <li><strong>City:</strong> {{ profile.city }}</li>
  <li><strong>Email:</strong> {{ profile.email }}</li>
</div>

<h3>Status Messages</h3>
<h4>
  <a href="{% url 'create_status' profile.pk %}">Post a new status</a> |
  <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
</h4>

<ul>
  {% for msg in profile.get_status_messages %}
  <li>
    <h5>
      <strong>{{ msg.timestamp|date:"Y-m-d H:i" }}</strong>: {{ msg.message }}
      <br />
      <a href="{% url 'update_status' msg.pk %}">Update</a> |
      <a href="{% url 'delete_status' msg.pk %}">Delete</a>
    </h5>

    {% if msg.get_images %}
    <div class="status-images">
      {% for img in msg.get_images %}
      <img
        src="{{ img.image_file.url }}"
        alt="{{ img.caption }}"
        style="max-width: 300px; margin-top: 10px"
      />
      {% if img.caption %}
      <p>{{ img.caption }}</p>
      {% endif %} {% endfor %}
    </div>
    {% endif %}
  </li>
  {% empty %}
  <li><h5>No messages yet. Update Now!</h5></li>
  {% endfor %}
</ul>

<div class="friends-section">
  <h2>{{ profile.first_name }}'s friends</h2>
  <div class="friends-list">
    {% for friend in profile.get_friends %}
    <div class="friend">
      <a href="{% url 'show_profile_page' friend.id %}">
        <img
          src="{{ friend.image_url }}"
          alt="{{ friend.first_name }} {{ friend.last_name }}"
        />
        <p>{{ friend.first_name }} {{ friend.last_name }}</p>
      </a>
    </div>
    {% empty %}
    <p>This user has no friends yet.</p>
    {% endfor %}
  </div>
  <div style="margin-top: 20px">
    <a href="{% url 'friend_suggestions' profile.pk %}" class="btn btn-primary">
      View Friend Suggestions
    </a>
  </div>
  <a href="{% url 'news_feed' profile.pk %}" class="btn btn-success"
    >📰 View News Feed</a
  >
</div>

{% endblock %}
