<!-- File: show_all.html
 Author: Bella WANG (bella918@bu.edu), 5/27/2025
 Description: web show_all html file for mini_fb assignment. generate all information about profile *-->

{% extends 'mini_fb/base.html' %} {% block content %}
<h2>All Profiles</h2>
<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Image</th>
  </tr>
  {% for profile in profiles %}
  <tr>
    <td>
      <a href="{% url 'show_profile' profile.pk %}"
        >{{ profile.first_name }} {{ profile.last_name }}</a
      >
    </td>
    <td>{{ profile.city }}</td>
    <td>
      <a href="{% url 'show_profile' profile.pk %}"
        ><img class="centered-img" src="{{ profile.image_url }}" width="500"
      /></a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
