/*  File: mini_fb_style.css
 Author: Bella WANG (bella918@bu.edu), 5/27/2025
 Description: web css file for mini_fb assignment */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(#99e7ff, #ffffff);
  min-height: 100vh;
  color: #333;
}

header {
  max-width: 1000px;
  margin: 40px auto;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  text-align: center;
  position: sticky;
}

h1 {
  font-size: 3rem;
  color: #004c99;
}

h2 {
  font-size: 2rem;
  color: #003366;
  margin-left: 20px;
}

h3 {
  font-size: 1.5rem;
  color: #5d589f;
  text-indent: 50px;
}

h4 {
  font-size: 1.2rem;
  text-indent: 100px;
  color: #1a1198;
}

h5 {
  font-size: 1rem;
  text-indent: 100px;
  color: #181177;
}

table {
  margin: 30px auto;
  width: 80%;
  border-collapse: collapse;
  background: #ffffffd0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

th,
td {
  padding: 16px 24px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #dceeff;
  color: #003366;
}

td img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

td img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

a {
  color: #004c99;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #002244;
}

footer {
  text-align: center;
  padding: 20px;
  color: #555;
  font-size: 0.9rem;
}

.centered-img {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.profile-info {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 20px;
  color: #333;
}

.profile-action {
  text-align: center; /* 水平居中表格内容 */
  vertical-align: middle; /* 垂直居中表格内容 */
  height: 100%;
}

.profile-image-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
